<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="deleteByPrimayKeyEnabled" value="false" />
        <option name="genSqlFilePath" value="$PROJECT_DIR$/src/抢红包" />
        <option name="insertMethodEnabled" value="false" />
        <option name="insertSelectiveMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="抢红包" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src" />
        <option name="javaModelPackage" value="抢红包" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src" />
        <option name="lastDatabaseCrudChooseModuleName" value="SSM" />
        <option name="mapperAnnotaion" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="SSM">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="抢红包" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src" />
                  <option name="javaModelPacakge" value="抢红包" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src" />
                  <option name="xmlPackage" value="抢红包" />
                  <option name="xmlPath" value="E:\我的IDEA文件\SSM\src" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="selectByPrimaryKeyEnabled" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="mybatis:t_employee">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="TEmployee" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:t_employee_task">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="TEmployeeTask" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:t_female_health">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="TFemaleHealth" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:t_male_health">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="TMaleHealth" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:t_task">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="TTask" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:t_work_card">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="TWorkCard" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:任务表">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="任务表" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:员工任务表">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="员工任务表" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:女性体检表">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="编号" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="女性体检表" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:工牌表">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="编号" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="工牌表" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:男性体检表">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="编号" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="男性体检表" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="mybatis:雇员表">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="编号" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="雇员表" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="spring:whc">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Whc" />
                  <option name="moduleName" value="SSM" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="spring:whc_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="WhcUser" />
                  <option name="moduleName" value="SSM" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ssh整合:role">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Role" />
                  <option name="moduleName" value="SSM" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ssh整合:user">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ssh整合:whc_user">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="WhcUser" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ssm:t_red_packet">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="RedPacket" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ssm:t_role">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Role" />
                  <option name="moduleName" value="SSM" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="ssm:user_red_packet">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserRedPacket" />
                  <option name="moduleName" value="SSM" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="xmlMapperPackage" value="抢红包" />
        <option name="xmlMapperPath" value="E:\我的IDEA文件\SSM\src" />
      </ProjectProfile>
    </option>
  </component>
</project>