<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.domain.TEmployee">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="性别" jdbcType="VARCHAR" property="性别" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    t_employee.id as 雇员表的编号,t_employee.real_name as 雇员表的名字, t_employee.性别 as 雇员表的性别, t_employee.birthday as 雇员表的出生日期, t_employee.phone as 雇员表的电话, t_employee.mail as 雇员表的邮箱, t_employee.job as 雇员表的工作, t_employee.note as 雇员表的备注
  </sql>
  <select id="selectA" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" />,<include refid="com.mapper.TEmployeeTaskMapper.Base_Column_List"/>,<include
          refid="com.mapper.TFemaleHealthMapper.Base_Column_List"/>,<include
          refid="com.mapper.TMaleHealthMapper.Base_Column_List"/>,<include
          refid="com.mapper.TWorkCardMapper.Base_Column_List"/> from t_employee,t_work_card,t_employee_task,t_female_health,t_male_health where t_employee.id=t_male_health.id=t_female_health.id=t_work_card.id=t_employee_task.id
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.domain.TEmployee" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_employee (real_name, 性别, birthday, 
      phone, mail, job, note
      )
    values (#{realName,jdbcType=VARCHAR}, #{性别,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{phone,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}
      )
  </insert>
</mapper>