<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TWorkCardMapper">
  <resultMap id="BaseResultMap" type="com.domain.TWorkCard">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    t_work_card.id as 工牌表的编号, t_work_card.emp_id as 工牌表的雇员编号, t_work_card.real_name as 工牌表的名字, t_work_card.phone as 工牌表的电话, t_work_card.mail as 工牌表的邮箱, t_work_card.job as 工牌表的工作, t_work_card.note as 工牌表的备注
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.domain.TWorkCard" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_work_card (emp_id, real_name, phone, 
      mail, job, note)
    values (#{empId,jdbcType=INTEGER}, #{realName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{mail,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR})
  </insert>
</mapper>