server:
  port: 8009

spring:
  application:
    name: whc-customer-user
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true   #表示将自己的ip注册到Eureka Server上，若不配置或设置成false，表示提下哦那个的hostname到Server上