<component name="libraryTable">
  <library name="mybatis">
    <CLASSES>
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/ant-1.9.6.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/ant-launcher-1.9.6.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/asm-5.0.4.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/cglib-3.2.2.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/commons-logging-1.2.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/javassist-3.20.0-GA.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/log4j-1.2.17.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/log4j-api-2.3.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/log4j-core-2.3.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/ognl-3.1.8.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/slf4j-api-1.7.21.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/lib/slf4j-log4j12-1.7.21.jar!/" />
      <root url="jar://E:/Mybatis/mybatis-3.4.1/mybatis-3.4.1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>